/Elgamal-encryption-demo/target/
/Elgamal-demo/nbproject/private/
/Elgamal-demo/build/
/Elgamal-demo/dist/
/Elgamal-encrypt-text/nbproject/private/
/Elgamal-encrypt-number/nbproject/private/
/Elgamal-encrypt-text/build/
/Elgamal-encrypt-text/dist/
/Elgamal-encrypt-number/build/
/Elgamal-encrypt-number/dist/
/MainTest/target/
